.image-text .image-text__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.image-text .image-text__image {
    margin: 0 auto 16px;
    order: 1;
}

.image-text .image-text__image img {
    max-width: 200px;
    aspect-ratio: 1;
}

.image-text .image-text__headline {
    width: 100%;
    margin-bottom: 12px;
    order: 2;
}

.image-text .image-text__text {
    text-wrap: balance;
    order: 3;
}

@media screen and (min-width: 768px) {

    .image-text .image-text__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
		justify-content: space-between;
    }

    .image-text .image-text__headline {
        width: 100%;
        margin-bottom: 24px;
        text-align: center;
        order: 1;
    }

    .image-text .image-text__image {
        width: 35%;
        margin: 0 0 16px;
        order: 2;
    }

    .image-text .image-text__image img {
        max-width: none;
    }

    .image-text .image-text__text {
        margin-top: 16px;
        width: calc(100% - 35% - 32px);
    }

}

@media screen and (min-width: 1280px) {

    .image-text .image-text__wrapper {
        flex-direction: row-reverse;
        max-width: 1440px;
        margin: 0 auto;
    }

    .image-text .image-text__image {
        width: 15%;
        margin-bottom: 0;
    }

    .image-text .image-text__headline {
        margin-bottom: 32px;
    }

    .image-text .image-text__text {
        width: calc(100% - 15% - 32px);
        text-wrap: pretty;
    }

}