<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recipes-preview</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../../assets/fonts/font.css" />
    <link rel="stylesheet" href="./recipes-preview.css" />
  </head>
  <body>
    <section class="recipe-preview">
          <div class="recipe-preview__inner">

      <div class="recipe-preview__header">
        <h2>Lust auf was Neues?</h2>
      </div>

      <div class="recipe-preview__list">
        <a href="recipe-croissant.html" class="recipe-card">
          <img
            src="../../assets/images/croissant.jpg"
            alt="Frische Croissants"
            class="recipe-card__image"
          />
          <span class="recipe-card__title">Frische Croissants</span>
        </a>

        <a href="recipe-croissant.html" class="recipe-card">
          <img
            src="../../assets/images/croissant.jpg"
            alt="Frische Croissants"
            class="recipe-card__image"
          />
          <span class="recipe-card__title">Frische Croissants</span>
        </a>

        <a href="recipe-croissant.html" class="recipe-card">
          <img
            src="../../assets/images/croissant.jpg"
            alt="Frische Croissants"
            class="recipe-card__image"
          />
          <span class="recipe-card__title">Frische Croissants</span>
        </a>
      </div>
      </div>
    </section>
  </body>
</html>
