
.hero{
  padding-top: 32px;
  padding-bottom: 32px;
   
}

.hero__inner{
  max-width: 1200px;         
  margin: 0 auto;
  padding: 27px 44px 64px;   
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero__image img{
  width: 100%;
  border-radius:12px;
  display:block;
}

.hero__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 64px
 
}
.hero__content .button {
  margin-top: auto;
}


@media screen and (min-width: 768px) {

    .hero{
    padding-top: 50px;
    padding-bottom: 50px;
    }

    .hero__inner{
      flex-direction: row;
      align-items: stretch;
      gap: 32px;
    }

   .hero__image {
    display: flex;   
    align-items: flex-start;   
    flex: 0 0 40%;
 }

.hero__image img{
    height: 100%;
    object-fit: cover;   
   }

  .hero__content{          
   justify-content: flex-start;
   flex: 1 1 60%;
            
  }
}