
.hero{
    display:flex;
    flex-direction: column;
    gap:32px;
    padding: 32px 24px;
 
   
   
}
.hero__image img{
    width: 100%;
    height:auto;
  border-radius:12px;
  display:block;
}

.hero__content {
    width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
 
}



@media screen and (min-width: 768px) {

    .hero .hero__title {
     font-size: 32px;
    }
    .hero {
    flex-direction: row;
    padding: 50px 120px;
    align-items: stretch;
    }

 .hero__image {
    display: flex;   
    align-items: flex-start;   
    flex: 0 0 40%;
 }

.hero__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
   }

  .hero__content{          
    display: flex;
   justify-content: flex-start;
   flex: 1 1 60%;
            
  }
  
  .hero__text{
    display:flex;
    flex-direction: column;
    gap: 52px;   
  }

}

@media screen and (min-width: 1280px) {

    .hero{
        max-width: 1280px;
        margin: 0 auto;
    }

    .hero .hero__title {
     font-size: 50px;
    }
    
  
  .hero__text{ 
    font-size: 24px;
  }

}